EnsJobeetBundle_job:
    resource: "@EnsJobeetBundle/Resources/config/routing/job.yml"
    prefix: /{_locale}/job
    requirements:
        _locale: ru|en

 
EnsJobeetBundle_homepage:
    pattern:  /
    defaults: { _controller: EnsJobeetBundle:Job:index }
    requirements:
        _locale: ru|en

EnsJobeetBundle_category:
    pattern: /{_locale}/category/{slug}/{page}
    defaults: { _controller: EnsJobeetBundle:Category:show, page: 1 }
    requirements:
        _locale: ru|en

login:
    pattern:   /login
    defaults:  { _controller: EnsJobeetBundle:Default:login }
login_check:
    pattern:   /login_check
logout:
    pattern:   /logout

EnsJobeetBundle_nonlocalized:
    pattern:  /
    defaults: { _controller: "EnsJobeetBundle:Job:index" }


EnsJobeetBundle_changeLanguage:
    pattern: /change_language
    defaults: { _controller: "EnsJobeetBundle:Default:changeLanguage" }