EnsJobeetBundle_job:
    resource: "@EnsJobeetBundle/Resources/config/routing/job.yml"
    prefix: /{_locale}/job
    requirements:
        _locale: ru|en

 
EnsJobeetBundle_homepage:
    pattern:  /{_locale}/
    defaults: { _controller: EnsJobeetBundle:Job:index }
    requirements:
      _locale: ru|en


EnsJobeetBundle_category:
    pattern: /{_locale}/category/{slug}/{page}
    defaults: { _controller: EnsJobeetBundle:Category:show, page: 1 }
    requirements:
        _locale: ru|en

login:
    pattern:   /login
    defaults:  { _controller: EnsJobeetBundle:Default:login }
login_check:
    pattern:   /login_check
logout:
    pattern:   /logout

EnsJobeetBundle_nonlocalized:
    pattern:  /
    defaults: { _controller: "EnsJobeetBundle:Job:index" }

EnsJobeetBundle_changeLanguage:
    pattern: /change_language
    defaults: { _controller: "EnsJobeetBundle:Default:changeLanguage" }


# REST API routes
job_all:
    pattern:  /api/job
    defaults: { _controller: EnsJobeetBundle:Job:list, _format: ~ }
    requirements:
        _method: GET

job_read:
    pattern:  /api/job/{id}
    defaults: { _controller: EnsJobeetBundle:Job:read, _format: ~ }
    requirements:
        _method: GET
        id: "\d+"

job_create:
    pattern: /api/job/create
    defaults: { _controller: EnsJobeetBundle:Job:createApi, _format: ~ }
    requirements:
        _method: POST

job_update:
    pattern: /api/job/{id}/update
    defaults: { _controller: EnsJobeetBundle:Job:updateApi, _format: ~ }
    requirements:
        _method: POST


job_delete:
    pattern: /api/job/{id}/delete
    defaults: { _controller: EnsJobeetBundle:Job:deleteApi, _format: ~ }
    requirements:
        _method: POST



